@mixin fa($icon: $fa-user, $color: #000, $size: 16px) {
    $svg: 'data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" style="enable-background:new 596 -596 1792 1792;" xml:space="preserve" fill="#{$color}" #{$icon}';
    content: '\00A0';
    display: inline-block;
    line-height: $size;
    width: $size;
    height: $size;
    background-image: url($svg);
}