$size:40px;
$activeColor:red;
$passiveColor:#ddd;
$fa-star: 'viewBox="596 -596 1792 1792"><path d="M2268,75.5l-502-73l-225-455c-12.7-27.3-29-41-49-41s-36.3,13.7-49,41l-225,455l-502,73c-37.3,6-56,21.3-56,46 c0,14,8.3,30,25,48l364,354l-86,500c-1.3,9.3-2,16-2,20c0,14,3.5,25.8,10.5,35.5s17.5,14.5,31.5,14.5c12,0,25.3-4,40-12l449-236 l449,236c14,8,27.3,12,40,12c13.3,0,23.5-4.8,30.5-14.5s10.5-21.5,10.5-35.5c0-8.7-0.3-15.3-1-20l-86-500l363-354 c17.3-17.3,26-33.3,26-48C2324,96.8,2305.3,81.5,2268,75.5z"/></svg>';

.rating {

    &__wrapper {
        display: inline-flex;
    }

    /* make hover effect work properly in IE */
    &__icon {
        pointer-events: none;

        &--star {
            @include fa($fa-star, $activeColor,$size);
        }
    }

    &__label{
        line-height: 1;
    }

    /* hide radio inputs */
    &__input {
        position: absolute !important;
        left: -9999px !important;
    }

    /* if any input is checked, make its following siblings grey */
    .rating__input:checked ~ .rating__label .rating__icon--star {
        @include fa($fa-star,$passiveColor ,$size);
    }

    /* make all stars orange on rating group hover */
    .rating-group:hover .rating__label .rating__icon--star {
        @include fa($fa-star, $activeColor ,$size);
    }

    /* make hovered input's following siblings grey on hover */
    .rating__input:hover ~ .rating__label .rating__icon--star {
        @include fa($fa-star, $passiveColor ,$size);
    }
}